<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Contact</title>
</head>
<body>
<a href="{% url 'index' %}">Back</a>
<table>
    <tr>
        <th>Contact Name</th>
        <th>Order Count</th>
        <th>Order Sum</th>
    </tr>
    {% for contact in contact_list %}
        <tr>
            <td>{{ contact.first_name }} {{ contact.last_name }}</td>
            <td>{{ contact.orders__count }} </td>
            <td>{{ contact.orders__total__sum|floatformat:2 }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>


